body{
  background-image: url('/img/stressed_linen_@2X.png');
}

h1{
  font-family: 'Permanent Marker', cursive;
  color: #DADADA;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  color: #DADADA;
  font-size: 2em;
}

#main-h3{
  color: #DADADA;
}

.container{
  margin: 0 auto;
  width: 1000px;
}

.content-container{
  float: left;
  width: 980px;
  /*background: #ffffff;*/
  background-color: rgba(255,255,255,0.1);
  padding-left: 20px;
}

.content{
  float: left;
  width: 800px;
  margin: 0 auto;
}

header{
  width: 1000px;
  height: 100px;
  background-color: rgba(255,255,255,0.1);
}

nav{
  float: left;
  width: 1000px;
  background: #304C3E;
}

nav ul{
  margin: 0;
  padding: 0;
}

nav ul li{
  list-style-type: none;
  display: inline;
}

nav li a{
  display: block;
  float: left;
  padding: 5px 10px;
  color: #DADADA;
  text-decoration: none;
  border-right: 1px solid #ffffff;
}

nav li a:hover{
  background: #5f9ea0;
  color: #fff;
}

a {
  color: #DADADA;
	text-decoration: none;
}

a:hover{
  color: #000;
}

li {
	list-style-type: none;
}

.comment-content{
  font-family: 'La Belle Aurore', cursive;
  font-size: 2em;
  color: grey;
}

textarea {
  width: 99%;
}

