<div class="container">
  <h2> Create your account HERE:</h2>
  <form action="/signup" method="POST">
    username: <br>
    <input type="text" name="user[username]">
    <p>
    email: <br>
    <input type="text" name="user[email]">
    <p>
    password: <br>
    <input type="password" name="user[password]">
    <p>
    <input type="submit" name="submit">
  </form>
</div>
