<div class="content-container">
  <h2> Create your account HERE:</h2>
  <form action="/signup" method="POST">
    username: <br>
    <input type="text" name="user[username]" class="submittable">
    <p>
    email: <br>
    <input type="text" name="user[email]" class="submittable">
    <p>
    password: <br>
    <input type="password" name="user[password]" class="submittable">
    <p>
    <input type="submit" name="submit">
  </form>
</div>
