<div class="container">
  <h2> Lessons Plans in <%= @grade_level %></h2>
  <ul><% @lesson_collection.each do |lesson| %>
    <li><%=lesson.created_at.to_s[5..10]%>  <a href="/lessons/<%= lesson.id %>"><%= lesson.title %></a></li>
    <% end %>
  </ul>

 <!--  <a href="/articles/new"><button>Create New Post</button></a>
  <p>
  <a href="/articles/all"><button>View All Posts</button></a>
  <p> -->
  <a href="/"><button>Home</button></a>

</div>
