<div class="content-container">
  <h2>All Categories</h2>
  <ul><%@categories.each do |category|%></ul>
    <li><a href="/categories/<%=category.id%>/lessons"><%=category.category%></a></li>
  <%end%>
  <p></p>
</div>
