<div class="container">
  <h1>Welcome to TeacherShare!</h1>
  <h3>The site where teachers help teachers do teachery things.</h3>



  <% if session[:user_id] %>
    <ul><%@lessons.each do |lesson| %>
      <li><%=lesson.created_at.to_s[5..10]%><a href='/lessons/<%=lesson.id%>'><%= lesson.title %></a></li>
      <% end %>
    </ul>
  <!--   <li><a href="/lessons/new"><button>Make a New Lesson</button></a></li> -->
    <p></p>
    <li><a href="/logout"><button>Log Out</button></a></li>
  <% else %>
    <li><a href="/signup"><button>Sign Up</button></a></li>
    <p></p>
    <li><a href="/login"><button>Log In</button></a></li>
  <% end %>
</div>
