<div class="content-container">
  <h2> Please enter your information</h2>
  <form action="/login" method="POST">
    <span class="grey">username:</span> <br>
    <input type="text" name="user[username]" class="black">
    <p>
    <span class="grey">password:</span> <br>
    <input type="password" name="user[password]" class="black">
    <p>
    <input type="submit" name="submit" class="black">
  </form>
</div>
